apiVersion: v1
kind: Service
metadata:
  name: dss-api-service
  namespace: digital-social-score
  labels:
    app: dss-api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: dss-api